<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Applicant Directory</title>
</head>

<body>

<div class="container">

    <h3>Applicant Directory</h3>
    <hr>

    <!-- Button to add an applicant -->
    <a th:href="@{/applicants/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Applicant
    </a>

<!--    Code for the table and where we process the given attribute, a list of applicants-->
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Exp</th>
            <th>Postal</th>
            <th>Dep. Key</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempApplicant : ${applicants}">

            <td th:text="${tempApplicant.firstName}" />
            <td th:text="${tempApplicant.lastName}" />
            <td th:text="${tempApplicant.email}" />
            <td th:text="${tempApplicant.hoursOfExperience}" />
            <td th:text="${tempApplicant.postalCode}" />
            <td th:text="${tempApplicant.departmentKey}" />

<!--            The column that will include the update and delete button for each of the applicants-->
            <td>
                <div class="row">

                    <div class="col-small">
                        <!-- update button-->
<!--                        action is where we send the form data, in this case we go to the /showFormForUpdate method-->
                        <form action="#" th:action="@{/applicants/showFormForUpdate}" method="POST">

                            <input type="hidden" name="applicantId" th:value="${tempApplicant.id}" />
                            <button type="submit" class="btn btn-info btn-sm me-1" style="float:left;">Update</button>

                        </form>

                        <!-- delete" button -->
<!--                        Deletes by the applicant ID, sends to delete endpoint which then invokes the delete method-->
                        <form action="#" th:action="@{/applicants/delete}" method="POST">

                            <input type="hidden" name="applicantId" th:value="${tempApplicant.id}" />
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="if (!(confirm('Are you sure you want to delete this application?'))) return false">
                                Delete
                            </button>

                        </form>
                    </div>

                </div>
            </td>

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>



